#appMasterContainer {
    font-family: 'Open Sans', sans-serif;
    width: 640px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}



/*** Syling for ReviewsFeed ***/
.rightHalf, .leftHalf {
    display: inline-block
}
#reviewLeftHalf {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 6rem;
    position: relative;
    flex: 0 0 auto;
}
#reviewRightHalf {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#reviewStarsDateRating {
    flex-direction: column;
    display: flex;
    position: relative;
}
#reviewCircleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
#reviewStarsDate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
}
#reviewStarsContainer {
    width: calc(18px * 5 + 0.25rem * 5);
    margin: 0 0.5rem 0 0;
    flex-shrink: 0;
    padding-bottom: 2px;
}
.reviewStar {
    display: inline-block;
    width: 18;
    height: 20;
    margin-right: 0.10rem;
    font-size: 0.875rem;
    font-weight: 500;
}
.reviewRatingDate {
    font-size: 0.875rem;
    font-weight: 500;
}
#reviewRatingsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}
.reviewRatingCategory {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.43;
    text-transform: capitalize;
    margin: 0 0.5rem 0 0;
}
.reviewRatingNumber {
    color: #da3743;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.43;
}
.twoHalvesContainer {
    display: flex;
}
.authorCircle {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-size: contain;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' viewBox='0 0…c-5.623 0-10.182 4.559-10.182 10.182z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E) no-repeat 50%");
    display: flex;
    align-items: center;
    justify-content: center;
}
#usernameContainer {
    text-align: center;
    word-break: break-word;
}
#reviewUsername {
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    color: #2d333f;
}
#userCity {
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.43;
    color: #6f737b;
    margin-bottom: 0.5rem;
}
#userReviewsContainer {
    display: flex;
    flex-direction: row;
    margin: 0 0.5rem 0 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.43;
    flex: none;
    white-space: nowrap;
    color: #6f737b;
}
.commentIcon {
    position: relative;
    height: 16px;
    width: 16px;
    flex: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Euniversal / icon / details / small / ic_ticket copy%3C/title%3E%3Cpath d='M4.5 3.5A1.5 1.5 0 0 0 3 5v4.099a1.5 1.5 0 0 0 1.5 1.5h3.073L9.8 12.091a.5.5 0 0 0 .779-.409l.013-1.083h.908a1.5 1.5 0 0 0 1.5-1.5V5a1.5 1.5 0 0 0-1.5-1.5h-7z' stroke='%236F737B' fill='none'/%3E%3C/svg%3E")
}
#reviewInitials {
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}

.imgCircle {
    width: 45px;
    height: 45px;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
    background-color: #da3743;
}

.helpHovered {
    background-color: #da3743;
    margin: 0 0 0 0;
}
#reviewContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #d8d9db;
    color: #2d333f;
}
#readMore {
    color: #da3743;
    text-decoration: none;
    font-size: inherit;
    height: 24px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
#readMore:hover {
    text-decoration: underline;
}
#flagIcon {
    height: 1.5rem;
    display: inline-block;
    width: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='background:%23fff'%3E%3Ctitle%3Eicon/ic_report%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath d='M6 2v19a1 1 0 0 1-2 0V4a2 2 0 0 1 2-2z' fill='%23333'/%3E%3Cpath d='M5 13h12.773L13.33 8l4.444-5H6a1 1 0 0 0-1 1v9z' stroke='%23333' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
}
.star {
    width: 16px;
    height: 16px;
}
#upvoteIcon {
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
}
#reportHelpful {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#subReportHelpful {
    display: flex;
    position: relative;
    align-self: flex-start;
    cursor: pointer;
}
.reportText {
    margin: 0 0 0 0.25rem;
    font-weight: 500;
    line-height: 1.43;
    font-size: 0.875rem;
}
.flexCenter {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.flex {
    display: flex;
}

/*** ReportPopUp styles ***/
#reportHeadContainer {
    justify-content: flex-end;
    background-color: #ffffff;
    line-height: 2rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
}
#reportHeadText {
    font-size: 1.125rem;
    justify-content: center;
    border-bottom: 1px solid #d8d9db;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
#reportBodyContainer {
    padding-left: 1rem;
    padding-right: 1rem;
}
#reportbodyText {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
}
#reviewReasonText {
    width: 100%;
    height: 5rem;
    margin: 1rem 0 1rem;
    padding: 0.5rem;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}
#reportButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
}
#reportConfirm {
    padding: .75rem 1rem;
    text-decoration: none;
    background-color: #da3743;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    width: 18rem;
    font-weight: 500;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 1rem;
    cursor: pointer;
}
#reportCancel {
    margin-right: 0;
    padding: calc(.75rem - 1px) calc(1rem - 1px);
    border: 1px solid #d8d9db;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    width: 18rem;
    font-weight: 500;
    border-radius: 2px;
    color: #2d333f;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;
}


/*** modal styles for report PopUp ***/
.modalBackground {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}



/*** Styles for Review Toolbar ***/
#sortMethod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0.25rem;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: menulist-button;
    height: 30px;
    width: 300px;
}
#toolbarSortText {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    padding: .5rem;
}
#sortSelection {
    padding: 0 0 .5rem 0;
    display: flex;
    margin-left: 7px;
}
#toolbarContainer {
    margin-bottom: 2rem;
}
.filterCheckBox {
    padding: .5rem .5rem;
    border: 1px solid #d8d9db;
    cursor: pointer;
    align-items: center;
    margin: .5rem;
}
.filterCheckBox:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px #da3743;
}
#filtersHeader {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 20px 5px;
    display: flex;
    font-weight: 500;
}
.filterBoxIcon {
    position: relative;
    top: 3;
    margin-right: .25rem;
    width: 18px;
    height: 18px;
}



/*** Summary Styles ***/
.summaryStarRating {
    display: inline-block;
    margin: 5px;  
    text-align: center;
}
.summaryRating {
    display: inline-block;
    margin: 5px;
    flex-direction: column;
    list-style: none;
    padding: 0 0.5rem;
    position: relative;
    text-align: center;
    border-left: solid 1px #d8d9db;
}
#summaryFirstRating {
    border-left: none;
}
#summaryToolbarContainer {
    display: inline-block;
    margin-left: .5rem;
    position: relative;
    bottom: 68;
}
#leftSummaryContainer {
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
}
#reviewConditional {
    width: 363px;
}
.inlineBlock {
    display: inline-block;
}
.summaryHeader {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    color: rgb(45, 51, 63);
    border-bottom: 1px solid rgb(216, 217, 219);
    padding-bottom: 1rem;
    margin: 0 0 1rem;
    display: flex;
    justify-content: space-between;
}
#reviewSummaryContainer {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px #d8d9db;
}
.summaryIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: .25rem;
}
#percentageRecommended {
    font-weight: bold;
}
#lovedForContainer {
    margin-bottom: 2.5rem;
}
#lovedForText {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    margin-bottom: 2rem;
}
.lovedForBox {
    padding: 1rem .5rem;
    border: 1px solid #d8d9db;
    cursor: pointer;
    align-items: center;
    margin: .5rem;

}
.lovedForBox:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px #da3743;
}
.lovedForIcon {
    width: 24px;
    height: 24px;
}
.summarySpacingContainer {
    padding-top: 1rem;
}
.toolbarNumber {
    margin-right: 0.5rem;
    width: 1rem;
    text-align: center;
}
.toolbarAndNumber {
    cursor: pointer;
}
.toolbarAndNumber:hover {
    text-decoration: underline;
}
.toolbarAndNumber:hover > .toolbar-light-background, .toolbar-hover-light-background:hover {
    border-color: transparent; 
    box-shadow: 0 0 0 2px #da3743; 
}
.toolbar-light-background, .toolbar-hover-light-background:hover {
    color: #000;
    border: 1px solid #d8d9db;
    display: inline-block;
    width: 232px;
    height: 13px;
    margin-bottom: .75rem;
    position: relative;
    top: 14;
}
.toolbar-red, .toolbar-hover-red:hover {
    color: #fff;
    background-color: #da3743;
    height: 13px;
}
#bestRestaurantsLink {
    color: #da3743;
    text-decoration: none;
}
#bestRestaurantsLink:hover {
    text-decoration: underline;
}



/*** Pagination Styling below ***/
#paginationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
    height: 2rem;
}
.paginationArrow {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='10' viewBox='0 0 …M2.172 3.593L.757 5.007 5 9.25l1.414-1.414z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E) no-repeat 50%");
    border-radius: 5000px;
    border: solid 1px #d8d9db;
    cursor: default;
    display: inline-flex;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: 2rem;
    cursor: pointer;
    align-items: center;
    height: 2rem;
}
.paginationBubble {
    border-radius: 5000px;
    border: solid 1px #d8d9db;
    display: inline-flex;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: 2rem;
    cursor: pointer;
    align-items: center;
    height: 2rem;
}
.paginationBubble:hover, .paginationArrow:hover, #selectedBubble {
    box-shadow: 0 0 0 2px #da3743; 
}
.ellipsisBubble {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: 2rem;
    cursor: pointer;
    align-items: center;
    height: 2rem;
}
